
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
body {
    width: 100%;
    height: 98.55vh;
    background-image: linear-gradient(#ffa17fd9,#00223ebf);
}
button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.532);
}
.container {
    display: flex;
    flex-direction: column;
    width: 99%;
    margin: 10px auto;
}
.header {
    padding: 5px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-bottom: 2px solid #8E9EAB;
    width: 520px;
    color: #EEF2F3;
    text-shadow: 0 2px 5px red;
    text-align: center;
}
.gameboard {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 15px;
    background-image: linear-gradient(#ffa17f7b,#00223e48);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset;
    max-width: 490px;
    border: 1px solid grey;
    padding: 10px -10px;
}
.rules,
.mobileRules {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 490px;
    margin: 5px auto;
    text-align: justify;
}
#rules {
    font-size: 15px;
    padding: 3px 5px;
    border-radius: 10px;
    margin: 3px auto;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    width: 70vw;
    max-width: 490px;
    height: auto;
}
.puck,
.current-player {
    border-radius: 50%;
    height: 55px;
    width: 55px;
    border: 1px solid rgba(0,0,0,0.5);
    margin: 0 5px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px;
    &.blue {
        background-color: blue;
    }
    &.red {
        background-color: red;
    }
}
.misc {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 490px;
    padding-top: 20px;
}
.timing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 21px;
    #reset,
    .timer-container {
        padding: 7px;
        border-radius: 10px;
        margin: 3px 7px;
    }
    .timer-container {
        width: 90px;
    }
}

.players,
h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 57px;
    .checkWrap {
        height: 21px;
        width: 21px;
    }
    .current-player {
        margin-right: 11px;
    }
    .checkmark {
        height: 21px;
        width: 21px;
        padding: 2px;
    }
}
h2 {
    align-items: center;
}
.hide {
    display: none;
}
.credit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 490px;
    padding: 15px;
    color: #000;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: 20px;
    margin-top: 50px;
    a {
        text-decoration: none;
        color: rgba(171, 171, 171, 0.873);
        &:hover {
            text-decoration: underline;
        }
    }
}
@media screen and (min-width: 370px) {
    .mobileRules {
        display: none;
    }
}
@media screen and (max-width: 370px) {
    .rules {
        display: none;
    }
}